<?php
// no direct access
defined('_JEXEC') or die('Restricted access');

$submitValue = $form->getStringOverride() === 'N' ?
            $form->getTransLang('MOD_SIMPLEEMAILFORM_BUTTON_SUBMIT') :
            JText::_('MOD_SIMPLEEMAILFORM_BUTTON_SUBMIT');

$submitTitle = $form->getStringOverride() === 'N' ?
            $form->getTransLang('MOD_SIMPLEEMAILFORM_CLICK_SUBMIT') :
            JText::_('MOD_SIMPLEEMAILFORM_CLICK_SUBMIT');

$resetValue = $form->getStringOverride() === 'N' ?
            $form->getTransLang('MOD_SIMPLEEMAILFORM_BUTTON_RESET') :
            JText::_('MOD_SIMPLEEMAILFORM_BUTTON_RESET');

$output .=
    '<a name="'
    . substr($form->getFormAnchor(), 1)
    . '">&nbsp;</a>'
    . "\n";

$output .= "<form method=\"post\" "
    . "action=\"" . $form->getFormAnchor() . "\" "
    . "name=\"_SimpleEmailForm_" . $form->getFormInstance() . "\" "
    . "id=\"_SimpleEmailForm_" . $form->getFormInstance() . "\" "
    . "enctype=\"multipart/form-data\">\n";

$fieldSets = $form->getFieldset('main');

$submitandReset = "<br /><input
        name=\"{$form->getFormSubmitButtonName()}_{$form->getFormInstance()}\"
        id=\"{$form->getFormSubmitButtonName()}_{$form->getFormInstance()}\"
        value=\"$submitValue\"
        title=\"$submitTitle\"
        type=\"submit\">\n";

$submitandReset .= "<br /><input
        name=\"{$form->getFormResetButtonName()}_{$form->getFormInstance()}\"
        id=\"{$form->getFormResetButtonName()}_{$form->getFormInstance()}\"
        value=\"$resetValue\"
        title=\"\"
        type=\"submit\">\n";

if (!empty($fieldSets)) {
    foreach ($fieldSets as $fieldName => $field) {
        if ($field->hidden) {
            $output .= $field->input;
        } else {
            $output .= $field->label;
            $output .= $field->input;
        }
    }
}

$output .= \JHtml::_('form.token');

$output .= $submitandReset;

$output .= "</form>\n";

$output .= $form->getMsg();

return $output;