<?php // no direct access
defined('_JEXEC') or die('Restricted access');

$output .=
    '<a name="'
    . substr($form->getFormAnchor(), 1)
    . '">&nbsp;</a>'
    . "\n";

$output .= "<form method=\"post\" "
    . "action=\"" . $form->getFormAnchor() . "\" "
    . "name=\"_SimpleEmailForm_" . $form->getFormInstance() . "\" "
    . "id=\"_SimpleEmailForm_" . $form->getFormInstance() . "\" "
    . "enctype=\"multipart/form-data\">\n";

$fieldSets = $form->getFieldset('main');

$submitandReset = "<br /><input
        name=\"{$form->getFormSubmitButtonName()}_{$form->getFormInstance()}\"
        id=\"{$form->getFormSubmitButtonName()}_{$form->getFormInstance()}\"
        value=\"{$form->getTransLang('MOD_SIMPLEEMAILFORM_button_submit')}\"
        title=\"{$form->getTransLang('MOD_SIMPLEEMAILFORM_click_submit')}\"
        type=\"submit\">\n";

$submitandReset .= "<br /><input
        name=\"{$form->getFormResetButtonName()}_{$form->getFormInstance()}\"
        id=\"{$form->getFormResetButtonName()}_{$form->getFormInstance()}\"
        value=\"{$form->getTransLang('MOD_SIMPLEEMAILFORM_button_reset')}\"
        title=\"\"
        type=\"submit\">\n";

if (!empty($fieldSets)) {
    foreach ($fieldSets as $fieldName => $field) {
        if ($field->hidden) {
            $output .= $field->input;
        } else {
            $output .= $field->label;
            $output .= $field->input;
        }
    }
}

$output .= \JHtml::_('form.token');

$output .= $submitandReset;

$output .= "</form>\n";

$output .= $form->getMsg();

return $output;